.padding-size {
  padding: 2rem;
  text-align: center !important;
  align-content: center !important;
}
.mat-menu-item {
  padding: 1em;
}
.mat-button {
  font-size: 22px;
}

button.mat-menu-item{
  background-color: white;
}

button.mat-menu-item:hover {

  color: black !important;
}
