.author-name{
  padding-top: 2in;
  align-content: center;

}
.stretched-text {
  align-content: center;
  letter-spacing: 10px;
  display: inline-block;
  font-size: 64px;
  transform: scaleY(0.75);
  transform-origin: 0 0;

}

body {
  height: 100vh;
}
