@import "../scss/theme.scss";
.author-name{
  padding-top: 2in;
  align-content: center;
  color: mat-color($my-app-primary, 600);
  font-family: Rockwell, fantasy;

}
.stretched-text {
  align-content: center;
  letter-spacing: 15px;
  display: inline-block;
  font-size: 72px;
  transform: scaleY(1.0);
  transform-origin: 0 0;

}
