<div class="padding-size">
  <button [@fadeInOutFirst] mat-button [matMenuTriggerFor]="bookMenu">Author</button>
  <mat-menu #bookMenu="matMenu" yPosition="below">
    <div *ngFor="let book of books" >
      <a routerLink="/book/{{book.url}}">
        <div [@fadeInOut]>
      <button mat-menu-item >{{book.name}}</button>
        </div>
      </a>
    </div>
  </mat-menu>

  <button [@fadeInOutSecond] mat-button [matMenuTriggerFor]="belowMenu">Programmer</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Angular 2+</button>
    <button mat-menu-item>Java</button>
  </mat-menu>

  <button [@fadeInOutThird] mat-button [matMenuTriggerFor]="beforeMenu">Other Stuff</button>
  <mat-menu #beforeMenu="matMenu" yPosition="below">
    <button mat-menu-item>Blog</button>
    <button mat-menu-item>About Me</button>

  </mat-menu>
</div>
