<div #navToHere class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <div class="mat-card">
        <div class="mat-card-title">
          The Bayou of Bad News
        </div>
        <div class="mat-card-title">

        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-4">
      <div align="center">
        <div [@fadeInOut] class="mat-headline"> The Bayou of Bad News</div>
        <h1></h1>
        <div id="bayou" [@fadeInOutPost] class="mat-caption" style="font-size: 2em">

          The wisest men may often say<br>
          As somewhat of an old cliche<br>
          Everyman will tend to be<br>
          his very own worst enemy<br>

          Bayou fog did swirl and shimmer<br>
          Of himself he caught a glimmer<br>
          The pie had only been a ruse<br>
          In the Bayou of Bad News<br>

        </div>

      </div>

    </div>
  </div>
</div>

