<div class="container"
     fxLayout
     fxLayoutAlign="center"
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <app-favorite-book-template fxFlex="33%" [book]=topFive[0]></app-favorite-book-template>
  <app-favorite-book-template fxFlex="33%" [book]="topFive[1]"></app-favorite-book-template>
  <app-favorite-book-template fxFlex="33%" [book]=topFive[2]></app-favorite-book-template>
</div>
<div style="height: 10rem;"></div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap.xs="0">

  <app-favorite-book-template fxFlex="50%" [book]=topFive[3]></app-favorite-book-template>
  <app-favorite-book-template fxFlex="50%" [book]=topFive[4]></app-favorite-book-template>
</div>

