

// import our custom theme
@import 'theme.scss';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/theming";
@include mat-core();
$font-color:  -webkit-gradient(linear, left top, left bottom, from(mat-color($my-app-accent,100)), to(#cbccc8)) fixed;;
body {
  margin: 0;
  font-family: sans-serif;
  background: $font-color;
}

.my-theme {

  // use our theme with angular-material-theme mixin
  //@include angular-material-theme($my-app-theme);
}

.submission-header {
  position: relative;
  bottom: 1em;
  text-align: center;
}

.bookPage {
  position: center;

  animation: 1s 1000ms ease-in-out;
}
@keyframes ease-in {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(100px);
    opacity: 1;
  }
}

.book-card {
  max-width: 300px;
}

