@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/theming";
$font-color:  -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cbccc8)) fixed;;

body {
  background: mat-color($mat-light-theme-background);
}

.bookPage {
  position: center;

  animation: 1s 1000ms ease-in-out;
}
@keyframes ease-in {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(100px);
    opacity: 1;
  }
}

.book-card {
  max-width: 300px;
}

